/*Adding Color to the background*/
/*Learned about creating checkered patterns and implemented a red/grey scheme*/
body {
  background: slategray;
  background-image: linear-gradient(90deg, rgba(255, 0, 50, 0.7) 50%, transparent 0),
                    linear-gradient(rgba(255, 0, 50, 0.7) 50%, transparent 0);
  background-size: 50px 50px;
}

/*Adding some style to h1 to stand out */
h1 {
  font-family: verdana;
  color: White;
  text-shadow: 0px 1px black, 0px -1px black, 1px 0px black, -1px 0px black;
  text-align: center;
}

/*Giving more clarity to the smaller headers*/
/*Added a shadow so it stands out more on the background*/
h3 {
  font-family: Georgia;
  color: lightblue;
  text-shadow: 1px 1px black;
}

/*Adding some style to the pizza and toppings options*/
div {
  font-family: courier;
  color: azure;
}

/*Setting the dimensions of the menu container*/
#menuBG {
  width: 600px;
  height: 470px;
  margin: 10px auto;
}

/*Setting the dimensions of the pizza and toppings container*/
#frmMenu {
  width: 600px;
  height: 200px;
}

/*Styling for the totalPrice section*/
#totalPrice {
  width: 200px;
  height: 190px;
  margin: 0 auto;
  float: right;
  padding-top: 60px;
  font-weight: bold;
}

/*Styling for the pizza sizes*/
.left {
  width: 200px;
  height: 200px;
  float: left;
}

/*Styling for the new Veggies option*/
.middle {
  width: 200px;
  height: 200px;
  float: left;
}

/*Styling for the toppings options*/
.right {
  width: 200px;
  height: 200px;
  float: right;
}

/*Styling for the Price Text*/
#showText {
  width: 200px;
  height: 190px;
  margin: 0px auto;
  float: left;
}

/*Styling for the container of the text and price*/
#cart {
  top: 0;
  margin: 0px auto;
  width: 400px;
  height: 200px;
}

.buttonAdjust {
  width: 100%;
  text-align: center;
}

/*Styling for the Order button*/
#btnOrder {
  width: 100px;
  height: 40px;
}

#btnOrder:hover {
  cursor: pointer;
}
